# Assignment-1

### Q1

In [5]:
a=2
b=3
print("Before swapping a={}, b={}".format(a,b))
a,b=b,a
print("After swapping a={}, b={}".format(a,b))

Before swapping a=2, b=3
After swapping a=3, b=2

### Q2

In [12]:
a1=int(input("Enter the number: "))
if a1%2==0:
    print("It is an even Number")
else:
    print("It is an odd Number")

Enter the number: 3
It is an odd Number

### Q3

In [29]:
a3=float(input("Enter the number: "))
sqrt=a3**0.5
print("Square root of the number: %.6f" % (sqrt))

Enter the number: 16
Square root of the number: 4.000000

### Q4

In [42]:
n=int(input())
for i in range(1,n+1):
    print(i,end=",")
print()
print("In reverse order: ")
for i in range(n,0,-1):
    print(i,end=",")

8
1,2,3,4,5,6,7,8,
In reverse order:
8,7,6,5,4,3,2,1,

### Q5

In [54]:
r=float(input("Input the radius: "))
area=4*3.14*(r)**2
print("Area of sphere = {}".format(area))

Input the radius: 7
Area of sphere = 615.44

### Q6

In [6]:

print("Even numbers: ")
for j in range(1,100):
    if j%2==0:
        print(j,end=",")
print()
print("Odd numbers:" )
for y in range(1,100):
    if (y%2)!=0:
        print(y,end=",")

Even numbers:
2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,
Odd numbers:
1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

### Q7

In [71]:
A=float(input("A: "))
B=float(input("B: "))
C=float(input("C: "))
x1=(-B+(((B**2)-4*A*C)**0.5))/(2*A)
x2=(-B-(((B**2)-4*A*C)**0.5))/(2*A)
print("First root: ",x1)
print("Second root: ",x2)

A: 2
B: -5
C: -3
First root:  3.0
Second root:  -0.5

### Q8

In [4]:
a4=int(input())
count=0
while(a4>0):
    count+=1
    a4=int(a4/10)
print("The no. of digits in the given number are: ",count)

2345
The no. of digits in the given number are:  4

### Q9

In [32]:
a5=int(input())
flag=0

if a5==1:
    print("Number is neither prime nor composite")
else:
    
    for i in range(2,(a5//2)+1):
        if a5%i==0:
            flag=1
            break
    else:
        print("{} is a prime no.".format(a5))

    if flag==1:
        print("{} is not a prime no.".format(a5))

33
33 is not a prime no.

### Q10

In [2]:
a6=int(input())
sum=0
for i in range(1,a6+1):
    if i%3==0 or i%5==0:
        print(i,end=",")
        sum=sum+i
print()        
print("Sum =",sum)

17
3,5,6,9,10,12,15,
Sum = 60

### Q11

In [11]:
def add(n1):
    sum=0
    for i in range(1,n1+1):
        sum=sum+i
    
    print("Sum =",sum)
    
def mul(n1):
    p=1
    for i in range(1,n1+1):
        p=p*i
    
    print("Product =",p)
    
def main():
    print("1- Sum")
    print("2- Product")
    c1=int(input("Enter the option: "))
    n1=int(input("Now enter the number: "))
    
    if c1==1:
        add(n1)
    elif c1==2:
        mul(n1)
    else:
        print("invalid selection")
        
main()

1- Sum
2- Product
Enter the option: 2
Now enter the number: 4
Product = 24

### Q12

In [12]:
sum=0
for i in range(1,1000):
    if i%3==0 or i%5==0:
        sum=sum+i
        
print("Sum of all multiples of 3 or 5 below 1000 =",sum)

Sum of all multiples of 3 or 5 below 1000 = 233168

### Q13

In [20]:
for i in range(2000,3201):
    if i%7==0 and (i%5)!=0:
        print(i,end=",   ")

2002,   2009,   2016,   2023,   2037,   2044,   2051,   2058,   2072,   2079,   2086,   2093,   2107,   2114,   2121,   2128,   2142,   2149,   2156,   2163,   2177,   2184,   2191,   2198,   2212,   2219,   2226,   2233,   2247,   2254,   2261,   2268,   2282,   2289,   2296,   2303,   2317,   2324,   2331,   2338,   2352,   2359,   2366,   2373,   2387,   2394,   2401,   2408,   2422,   2429,   2436,   2443,   2457,   2464,   2471,   2478,   2492,   2499,   2506,   2513,   2527,   2534,   2541,   2548,   2562,   2569,   2576,   2583,   2597,   2604,   2611,   2618,   2632,   2639,   2646,   2653,   2667,   2674,   2681,   2688,   2702,   2709,   2716,   2723,   2737,   2744,   2751,   2758,   2772,   2779,   2786,   2793,   2807,   2814,   2821,   2828,   2842,   2849,   2856,   2863,   2877,   2884,   2891,   2898,   2912,   2919,   2926,   2933,   2947,   2954,   2961,   2968,   2982,   2989,   2996,   3003,   3017,   3024,   3031,   3038,   3052,   3059,   3066,   3073,   3087,   3094,   3101,   3108,   3122,   3129,   3136,   3143,   3157,   3164,   3171,   3178,   3192,   3199,

### Q14

In [24]:
sum=0
sumsq=0
for i in range(1,101):
    sum=sum+(i**2)
    sumsq=sumsq+i
print("Sum of squares: ",sum)
print("Square of sum: ",sumsq**2)

difference=(sumsq**2)-sum

print("Differnce between sum of the squares and square of the sum: ",difference)

Sum of squares:  338350
Square of sum:  25502500
Differnce between sum of the squares and square of the sum:  25164150

### Q15

In [27]:
sum3=0
cnt=0
while d!='stop':
    try:
        d=int(input("Input the number: "))
        cnt+=1
        sum3=sum3+d
    except:
        print("Error")
        print("Sum =",sum3)
        print("Count =",cnt)
        print("Average",sum3/cnt)
        break

Input the number: 1
Input the number: 2
Input the number: 3
Input the number: 4
Input the number: 5
Input the number: stop
Error
Sum = 15
Count = 5
Average 3.0

### Q16

In [40]:
d1=int(input("Enter no."))
for i in range(2,d1+1):
    for j in range(2,i//2):
        if(i%j==0):
            
            flag=1
            break
    else:
        print(i)

Enter no.12
2
3
4
5
7
11

### Q17

In [9]:
def f(z):
    if z==0:
        return 1
    return z * f(z-1)

f(int(input()))

5

120

### Q18

In [37]:
p=0
n=1
num=int(input("Enter the limit: "))
while p<num:
    print(p)
    p,n=n,p+n

Enter the limit: 34
0
1
1
2
3
5
8
13
21

### Q20

In [47]:
arr=[]
j=int(input())
for i in range(1,j+1):
    if j%i==0:
        arr.append(i)
print("Factors are",arr)

20
Factors are [1, 2, 4, 5, 10, 20]

### Q19

In [16]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
if(a>b):
    max=a
else:
    max=b
while(1):
    if(max%a==0 and max%b==0):
        print("LCM : ",max)
        break
    max+=1

Enter the first number:24
Enter the second number:18
LCM :  72

### Q21(1)

In [68]:
n=5
for i in range(n):
    print("* " *(i+1) + " " *(n-i-1) )

*
* *
* * *
* * * *
* * * * *

### Q21(2)

In [69]:
n=7
for i in range(n):
    print("* "*((n+1)-i-1)+" " *((i+1)-1))

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Q21(3)

In [71]:
n=5
for i in range(n):
    print("{} ".format(i+1)*(i+1))

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Q21(4)

In [72]:
n=4
for i in range(n):
    print(" " *(n-i-1) + "* " *(i+1) )

   *
  * *
 * * *
* * * *

### Q21(5)

In [124]:
n=5
counter=1
for i in range(1,n):
    for j in range(1,i+1):
        print(counter,end=" ")
        counter+=1
    print()

1
2 3
4 5 6
7 8 9 10

### Q21(6)

In [134]:
n=5
counter=ord('A')
for i in range(1,n):
    for j in range(1,i+1):
        print(chr(counter),end=" ")
        counter+=1
    print()

A
B C
D E F
G H I J